<header>
    <div class="container">
        <div class="row">
            <div class="span12">
                <div id="navigation">
                    <ul>
                        <li><a href="#" class="current" id="link_index"><img src="~/assets/img/golfBall.png" /><span>Golf Sweden</span></a><img src="~/assets/img/arrow_current.png" style="display: block;" /></li>
                        <li><a href="#" id="link_ranking"><img src="~/assets/img/ranking.png" /><span>Ranking</span></a><img src="~/assets/img/arrow_current.png" /></li>
                        <li><a href="#" id="link_trip"><img src="~/assets/img/trip.png" /><span>Golfresa</span></a><img src="~/assets/img/arrow_current.png" /></li>
                        <li><a href="#" id="link_review"><img src="~/assets/img/pencil.png" /><span>Skriv recension</span></a><img src="~/assets/img/arrow_current.png" /></li>
                        <li><a href="#" id="link_info"><img src="~/assets/img/info.png" /><span>Om sidan</span></a><img src="~/assets/img/arrow_current.png" /></li>
                        <li><a href="#" id="link_contact"><img src="~/assets/img/contact.png" /><span>Kontakt</span></a><img src="~/assets/img/arrow_current.png" /></li>
                    </ul>
                </div>
    

                <div id="search">
                    <span>Sök golfklubb</span><input type="text" />
                </div>
            </div>
        </div>
    </div>
</header>

<section class="contentContainer">

    <div class="container">
        <div class="row">
            <div class="span8" id="mainSections">

                <section id="index" active="true">
                    <div>
                        <div>
                            <span>
                                <h1>Trött på dåliga golfbanor?</h1>
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                            </span>
                        </div>            
                    </div>
                </section>

                <section id="ranking">
                    <div class="outerFrame">
                        <div class="headerTitle">Albatross GK</div>
                        <div class="innerBody"></div>
                    </div>
                </section>

                <section id="review">
                    <div class="outerFrame">
                        <div class="headerTitle">Ny recension - </div>
                        <div class="innerBody">
                            <div class="innerBodyDistance">
                                <select id="rev_club">
                                    <option value="-1">- - - Välj golfklubb - - -</option>
                                    <option value="-1">Klubb 1</option>
                                    <option value="-1">Klubb 2</option>
                                    <option value="-1">Klubb 3</option>
                                    <option value="-1">Dömle Golf & Country Club</option>
                                </select>

                                <div class="sectionDelimiter"></div>
                            </div>
                            
                        </div>
                        
                    </div>                    
                </section>
                <section id="trip"></section>
                <section id="info"></section>
                <section id="contact"></section>

            </div>

            <div class="span4">
                <section class="rightContainer">
                    <table id="social">                                
                        <tr>
                            <td><img src="~/assets/img/facebook.png" /></td><td><img src="~/assets/img/twitter.png" /></td><td><img src="~/assets/img/rss.png" /></td>
                        </tr>
                        <tr>
                            <td>50.000<br />Fans</td><td>67.353<br />Följare</td><td>25.157<br />Abonnenter</td>
                        </tr>
                    </table>

                    <div id="news">
                        <h1>Nyheter</h1>
                        <h2 class="newsHeader">Lorem</h2>
                        <p class="newsParagraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        <h2 class="newsHeader">Ipsum</h2>
                        <p class="newsParagraph">Morbi a ligula quis augue tincidunt pellentesque. Donec id </p>
                        <h2 class="newsHeader">Solodedus</h2>
                        <p class="newsParagraph">Morbi sodales molestie lacus quis rutrum. Nulla et arcu pharetra mi lacinia convallis.</p>
                    </div>
                </section>
            </div>
        </div>

    </div>

    

</section>


