<div style="color: #a1a1a1; width: 500px; height: auto; background-color: #f4f4f4; padding: 25px;">

<br />
<select id="rev_club">
    <option value="-1">- - - Välj golfklubb - - -</option>
    <option value="-1">Klubb 1</option>
    <option value="-1">Klubb 2</option>
    <option value="-1">Klubb 3</option>
    <option value="-1">Dömle Golf & Country Club</option>
</select>
<br /><br />

    
    Namn (Alias):<br />
    <input type="text" />

    <br /><br />

    E-Post:<br />
    <input type="text" />

    <br /><br />

<select id="rev_club">
    <option value="-1">- - - Välj din hemmaklubb - - -</option>
    <option value="-1">Klubb 1</option>
    <option value="-1">Klubb 2</option>
    <option value="-1">Klubb 3</option>
    <option value="-1">Dömle Golf & Country Club</option>
</select>

    <br /><br />

    Handikapp:<br />
    <input id="hcp" type="text" />

    <br /><br />

    <div id="genderRadio" class="radioButtons">
        <button type="button" value="man">Man</button>
        <button type="button" value="kvinna">Kvinna</button>
    </div>

</div>