/*------------- tobNavigationJS --------------------------------------*/
#navigation ul {
    height: 60px;
    list-style: none;
    padding: 0;
    margin: 0px;
    margin-left: -10px;
    float: left;
}

    #navigation ul li {
        float: left;                  
    }

    #navigation ul li a img:nth-child(1){
        opacity: 0.5;
        float: left;        
        border: none;
    }

        #navigation ul li a.current img:nth-child(1), #navigation ul li a:hover img:nth-child(1)  {
            background: #33CC33 url('../img/navigation_shine.png') no-repeat 0 0;
            opacity: 1.0;
        }

        #navigation ul li img:nth-child(2) {
            display: none;
            border: none;
            clear: both;
            position: relative;
            left: 25px;
        }

        #navigation ul li a:hover span {
            display: block;
            color: #848484;
        }

        #navigation ul li a span {
            display: none;
            font: normal 14px 'Proxima Nova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
            padding: 20px;
            float: left;
        }

     #navigation ul li a.current span{        
        color: white;
        display: block;                     
    }
    
/*------------- tobRadioButton --------------------------------------*/
.tobRadioButton {
    margin-left: 3px;
}

    .tobRadioButton button {
        border: 1px solid #b1b1b1;
        color: #a1a1a1;
        padding: 5px 10px 5px 10px;
        margin: -3px;
        display: inline-block;
        background-image: url('../img/buttonFade.png');
        background-repeat: no-repeat;
        background-color: #e1e1e1;        
    }

        .tobRadioButton button:hover {
            background-color: #d1d1d1;    
        }

        .tobRadioButton button.selected {
            background-color: #b1b1b1;    
            background-image: none;
            color: #ffffff;
        }

    .tobRadioButton button:first-child {
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    .tobRadioButton button:last-child {
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
    }